body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    background-color: var(--canvasBg);
}

#debug {
    position: absolute;
    top: 100px;
    right: 5px;
    height: 100vh;
    width: 500px;
    background: lightblue
}

:root {
    --windowT: #00000081;
    --windowMain: #212125;
    --windowMainT: #2121258c;
    --windowSide: #2b2b30;
    --appBarThemeColor: #141416;
    --bgMain: #18171a;
    --bgMainT: #18171ae3;
    --canvasBg: #202022;
    --bgLight: #35353b;
    --bgDark: #131214;
    --bgDarkT: #131214e3;
    --textMain: #ffffff;
    --textDim: #cacaca;
    --important: #2741ff;
    --importantT: #2740ffa9;
    --error: #ff163d;
    --errorT: #ff163da9;
    --importantText: #ffffff;
    --scrollTrack: #201F22;
    --scrollHover: #3B3A3D;
    --toolBarDim: #49484a;
    --toolBarHover: #7f7f80;
}

#layer-main {
    width: 300px;
    height: 600px;
    top: 100px;
    position: fixed;
    overflow-y: scroll;
    overflow-x: hidden;
    background: var(--bgMainT);
}

.layer-wrap {
    --offsetX: 0px;
    --offsetY: 0px;
    --layerMovementOffset: 0px;
    --s: 1;
    --top: 0px;
    background: var(--bgLight);
    color: white;
    width: calc(100% - 10px);
    height: 55px;
    margin-bottom: 5px;
    user-select: none;
    -webkit-user-select: none;
    position: absolute;
    margin: 5px;
    top: calc(var(--top) + var(--offsetY) - var(--layerMovementOffset));
    left: var(--offsetX);
    transform: scale(var(--s), var(--s));
    transform-origin: center;
    transition: box-shadow 0.1s, top 0.2s;
    z-index: 0;
    border-radius: 5px;
}

.moving {
    box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.25);
    transition: box-shadow 0.1s;
}

.movingIndex {
    z-index: 9999999 !important;
    transition: box-shadow 0.1s;
}

#layer-position-preview-horizontal {
    position: absolute;
    z-index: -999;
    top: 0;
    left: 5px;
    width: calc(100% - 10px);
    background: var(--important);
    height: 8px;
    border-radius: 60px;
    transition: top 0.2s, opacity 0.2s;
    opacity: 0;
}

.layer-position-preview-visible {
    opacity: 1 !important;
}