body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

:root {
    --windowT: #00000081;
    --windowMain: #212125;
    --windowMainT: #2121258c;
    --windowSide: #2b2b30;
    --appBarThemeColor: #141416;
    --bgMain: #18171a;
    --bgMainT: #18171ae3;
    --canvasBg: #202022;
    --bgLight: #35353b;
    --bgDark: #131214;
    --bgDarkT: #131214e3;
    --textMain: #ffffff;
    --textDim: #cacaca;
    --important: #2741ff;
    --importantT: #2740ffa9;
    --error: #ff163d;
    --errorT: #ff163da9;
    --importantText: #ffffff;
    --scrollTrack: #201F22;
    --scrollHover: #3B3A3D;
    --toolBarDim: #49484a;
    --toolBarHover: #7f7f80;
}

#layer-main {
    width: 500px;
    height: 100vh;
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
    background: gray;
}

.layer-wrap {
    --offsetX: 0px;
    --offsetY: 0px;
    --top: 0px;
    background: black;
    color: white;
    width: calc(100% - 10px);
    height: 100px;
    margin-bottom: 5px;
    user-select: none;
    -webkit-user-select: none;
    position: absolute;
    margin: 5px;
    top: calc(var(--top) + var(--offsetY));
    left: var(--offsetX);
    transform: scale(100%, 100%);
    transform-origin: center;
    transition: transform 0.3s, background 0.3s;
}

.moving {
    background: red !important;
    transform: scale(80%, 80%);
}

.movingIndex {
    z-index: 9999999;
}