@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400&family=Space+Grotesk:wght@600;700&display=swap");

#card {
    width: 80vw;
    max-width: 500px;
    background: var(--background);
    border-radius: 20px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    backdrop-filter: blur(200px);
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
}

.form-multi-button {
    display: flex;
    justify-content: space-between;
}

#card-header {
    width: 100%;
    min-height: fit-content;
    z-index: 0;
    transform-style: preserve-3d;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 40px;
}

#hyperio-logo {
    height: 60px;
}

:root {
    --padding: 15px;
    --sizeMultiplier: 0.5;
    --background: #010811cc;
    /* #dadfe896 */
    --backgroundO: rgba(255, 255, 255, 0.062);
    /* #e6e6e6 */
    --text: #dadfe8;
    /* #272c33 */
    --outline: #ffffff33;
    /* #e3e3e4 */
}

.card-content {
    padding: 40px;
    width: 100%;
    padding-bottom: 60px;
    padding-top: 0;
}

.card-hidden {
    display: none;
}

/* media query that has max of 650px*/
@media screen and (max-width: 650px) {
    #card {
        width: 100%;
        margin: 0;
        height: 100vh;
        max-width: unset;
        border: none;
        border-radius: 0;
        left: 0;
        top: 0;
        transform: unset;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: unset;
        align-content: center;
    }

    #card-header {
        width: 100%;
        min-height: fit-content;
        z-index: 0;
        transform-style: preserve-3d;
        height: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .card-content {
        padding: 40px;
        width: 100%;
        padding-bottom: 60px;
        height: fit-content;
    }
}

body {
    overflow: hidden;
}

h1 {
    font-family: "Space Grotesk", sans-serif;
    color: var(--text);
    text-align: left;
    font-size: 42px;
    margin-top: 20px;
    transform: translateY(4px);
    text-align: center;
}

.form-label {
    font-family: "Space Grotesk", sans-serif;
    color: var(--text);
    text-align: left;
    margin: 0;
    margin-bottom: 10px;
}

.form-group {
    margin-top: 25px;
    width: 100%;
}

.form-group-half {
    display: inline-block;
    width: calc(50% - calc(var(--padding)));
}

.form-group-half-wrapper {
    display: flex;
    justify-content: space-between;
}

input {
    position: relative;
    width: calc(100% - (var(--padding) * 2));
    margin: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 17px;
    height: 45px;
    background: var(--backgroundO);
    border: 1px solid var(--outline);
    border-radius: 5px;
    font-family: "jetbrains mono";
    padding: 0 var(--padding);
    color: var(--text);
}

input[type="submit"] {
    position: relative;
    width: 60%;
    margin: auto;
    margin-bottom: 30px;
    display: block;
    margin-top: 25px;
    height: 45px;
    font-size: 15px;
    font-family: "jetbrains mono";
    color: #13161a;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-size: 200% auto;
    background-image: linear-gradient(133deg, #ffda45 0%, #ff7644 25%, #bc49ff 75%, #7de9ff 100%);
    z-index: 10;
    transform-style: preserve-3d;
    box-shadow: 0 0px 0px #0000;
    transition: 0.5s background, 0.5s color;
}

input[type="submit"]:hover {
    color: white;
    background-position: right center;
}

input[type="submit"]:after {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    content: "";
    z-index: -1;
    opacity: 0;
    filter: blur(0px);
    border-radius: 10px;
    background: inherit;
    background-size: inherit;
    transition: 0.5s opacity, 0.5s filter, 0.5s top;
}

input[type="submit"]:hover:after {
    opacity: 0.45;
    filter: blur(25px);
    top: 5px;
}

button.button-social {
    position: relative;
    padding: 20px 20px;
    margin: 0;
    display: block;
    margin-top: 25px;
    margin-bottom: 25px;
    height: 45px;
    font-size: 15px;
    font-family: "jetbrains mono";
    color: #13161a;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 10;
    transform-style: preserve-3d;
    box-shadow: 0 0px 0px #0000;
    transition: 0.5s background, 0.5s color;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

button.button-social-google {
    background: white;
}

button.button-social-github {
    background: #24292F;
    color: white;
}

button.button-social-twitter {
    background: #14a1ff;
    color: white;
}

button.button-social:hover {
    background-position: right center;
}

button.button-social:after {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    content: "";
    z-index: -1;
    opacity: 0;
    filter: blur(0px);
    border-radius: 10px;
    background: inherit;
    background-size: inherit;
    transition: 0.5s opacity, 0.5s filter, 0.5s top;
}

button.button-social:hover:after {
    opacity: 0.25;
    filter: blur(15px);
    top: 5px;
}

.divider {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.divider-arm {
    width: 40%;
    height: 1px;
    background: var(--text);
    display: inline-block;
}

.divider-arm-left {
    background: linear-gradient(to right, #0000 0%, var(--text) 100%);
}

.divider-arm-right {
    background: linear-gradient(to right, var(--text) 0%, transparent 100%);
}

.main {
    height: 100vh;
    position: relative;
}

canvas {
    max-width: 100vw;
    max-height: 100vh;
    overflow: hidden;
}

.divider-text {
    color: var(--text);
    margin: 0;
    text-transform: capitalize;
    font-family: "jetbrains mono";
}

@media only screen and (max-width: 1100px) {
    .form-group-half {
        display: inline-block;
        width: 100% !important;
    }

    .form-group-half-wrapper {
        display: block;
    }

    h1 {
        font-size: 36px;
    }
}

canvas {
    position: absolute;
    z-index: -100;
}

@-webkit-keyframes rainbow {
    0% {
        background-position: 0% 82%;
    }

    50% {
        background-position: 100% 19%;
    }

    100% {
        background-position: 0% 82%;
    }
}

@-moz-keyframes rainbow {
    0% {
        background-position: 0% 82%;
    }

    50% {
        background-position: 100% 19%;
    }

    100% {
        background-position: 0% 82%;
    }
}

@-o-keyframes rainbow {
    0% {
        background-position: 0% 82%;
    }

    50% {
        background-position: 100% 19%;
    }

    100% {
        background-position: 0% 82%;
    }
}

@keyframes rainbow {
    0% {
        background-position: 0% 82%;
    }

    50% {
        background-position: 100% 19%;
    }

    100% {
        background-position: 0% 82%;
    }
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.dialog {
    width: 100%;
    position: relative;
    width: calc(100% - (var(--padding) * 2));
    margin: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 17px;
    height: 45px;
    border: 1px solid var(--outline);
    border-radius: 5px;
    padding: 0 var(--padding);
    color: var(--text);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.dialog a {
    color: var(--accent)
}