body {
  margin: 0;
  background: lightgray;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

html,
body {
  overscroll-behavior-x: none;
}

#debug-window {
  padding: 5px;
  height: 400px;
  width: 500px;
  background: #ffffff8a;
  border:1px solid #3333;
  border-radius: 8px;
  position: absolute;
  z-index: 99999999;
  bottom: 10px;
  left: 10px;
  color: black;
  font-family: monospace;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  gap: 5px;
  backdrop-filter: blur(20px);

}
#debug-logger, #debug-values {
  height: 50%;
  overflow-y: auto;
  background: #ffffff8a;
  border:1px solid #3333;
  border-radius: 3px;

}

canvas {
  width: 100vw;
  height: 100vh;
  display: block;
}

#input-layer {
  position: absolute;
  display: block !important;
  user-select: none;
  pointer-events: none;
  -webkit-user-select: none;
  box-sizing: border-box;
}