
body {
    margin: 0;
    background:linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

canvas {
    width: 100vw;
    height: 100vh;
    display: block;
}
#input-layer {
    position: absolute;
    display: block !important;
    user-select: none;
    pointer-events: none;
    -webkit-user-select: none;
    box-sizing: border-box;
  }