* {
    font-family: sans-serif;
}

body {
    background-color: #232125;
    margin: 0px;
    min-height: 100vh;
    height: 100%;
    overflow: hidden;
}

:root {
    --canvScale: 10;
    --canvTransformX: 0px;
    --canvTransformY: 0px;
    --canvX: 32px;
    --canvY: 32px;
}

#debug {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
}

/*
.popup {
    background: #18171a;
    color: white;
    font-size: 20px;
    padding: 30px;
    position: fixed;
    display: block;
    max-width: 420px;
    transition: 0.2s all;
    z-index: 2;
    border-radius: 5px;
    min-width: 150px;
    top: 53px;
    left: 5px;
    opacity: 0;
    transform: translate(0, -10px);
    transition: 0.2s opacity, 0.2s transform;
}

.popup-open {
    opacity: 1;
    transform: translate(0, 0);

}

.popup h1 {
    margin: 0;
    font-size: 25px;
    margin-bottom: 10px;
}

.popup-input-group {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
}

.popup-input-wrap {
    position: relative;
    display: flex;
    align-content: center;
    align-items: center;
}

.popup-input-num {
    background: #262628;
    color: white;
    margin: 10px 0;
    padding: 5px;
    font-size: 14px;
    font-weight: bolder;
    border: none;
    border-radius: 3px;
    max-width: 60px;
    display: block;
    font-weight: 100;
    text-align: left;
}

.popup-input-title {
    font-size: 14px;
}

.popup-input-unit {
    font-size: 14px;
    margin: 0;
    position: absolute;
    text-align: right;
    right: 5px;
    opacity: .5;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.popup-btn.popup-btn-imp {
    background: #2741ff;
}

.popup-btn {
    background-color: #262327;
    color: white;
    margin: auto;
    padding: 5px 10px 5px 10px;
    font-size: 16px;
    font-weight: bolder;
    display: inline-block;
    border: none;
    border-radius: 3px;
    transition: 0.2s all;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

.popup-btn-group {
    float: right;
    margin-top: 15px;
}
*/

.popup {
    background: #18171a;
    color: white;
    font-size: 20px;
    position: fixed;
    display: block;
    max-width: 420px;
    transition: 0.2s all;
    z-index: 2;
    border-radius: 13px;
    min-width: 150px;
    top: 64px;
    left: 8px;
    opacity: 0;
    transform: translate(0, -10px);
    transition: 0.2s opacity, 0.2s transform;
}

.popup-open {
    opacity: 1;
    transform: translate(0, 0);
}

.popup h1 {
    margin: 0;
    font-size: 25px;
    margin-bottom: 10px;
    margin: 15px 12px;
    margin-bottom: 10px;
}

.popup-input-group {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    margin: 8px;
    margin-top: 0;
    min-width: 200px;
    height: 30px;
}

.popup-input-wrap {
    position: relative;
    display: flex;
    align-content: center;
    align-items: center;
}

.popup-input-num {
    background: #262628;
    color: white;
    margin: 10px 0;
    padding: 5px;
    font-size: 14px;
    font-weight: bolder;
    border: none;
    border-radius: 5px;
    max-width: 60px;
    display: block;
    font-weight: 100;
    text-align: left;
}

.popup-input-title {
    font-size: 14px;
    margin-left: 4px;
}

.popup-input-unit {
    font-size: 14px;
    margin: 0;
    position: absolute;
    text-align: right;
    right: 5px;
    opacity: .5;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.popup-btn.popup-btn-imp {
    background: #2741ff;
}

.popup-btn {
    background-color: #262327;
    color: white;
    margin: auto;
    padding: 10px 15px 10px 15px;
    font-size: 16px;
    font-weight: bolder;
    display: inline-block;
    border: none;
    border-radius: 5px;
    transition: 0.2s all;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    margin-left: 4px;
}

.popup-btn-group {
    float: right;
    margin-top: 15px;
    margin: 8px;
}

.menu {
    position: fixed;
    top: 64px;
    left: 8px;
    opacity: 0;
    transform: translate(0, -10px);
    transition: 0.2s opacity, 0.2s transform;
    border-radius: 13px;
    overflow: hidden;
    padding: 0px;
    margin: 0;
    color: rgb(202, 202, 202);
    background: #18171a;
    z-index: 3;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
}

.menu.menu-open {
    opacity: 1;
    transform: translate(0, 0);
    pointer-events: all;
}

.menu .menu-btn {
    position: relative;
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
    list-style: none;
    cursor: pointer;
}

.menu .menu-btn:hover {
    background: #262628;
    color: rgb(255, 255, 255);
}

.menu .menu-btn i {
    padding-right: 10px;
}

.menu .menu-btn a {
    text-decoration: none;
}

#close:hover {
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
}

#canvas {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(calc(-50% + var(--canvTransformX)), calc(-50% + var(--canvTransformY))) scale(var(--canvScale), var(--canvScale));
    display: block !important;
    cursor: crosshair;
    touch-action: none;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    width: var(--canvX);
    height: var(--canvY);
}

#bggridcanv {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(calc(-50% + var(--canvTransformX)), calc(-50% + var(--canvTransformY))) scale(var(--canvScale), var(--canvScale));
    display: none;
    cursor: crosshair;
    touch-action: none;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    background-color: #ffffff;
    z-index: -100000;
    pointer-events: none;
    width: var(--canvX);
    height: var(--canvY);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3E%3Cg fill='%23bababa' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M0 0h4v4H0V0zm4 4h4v4H4V4z'/%3E%3C/g%3E%3C/svg%3E");
}

#previewcanv {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(calc(-50% + var(--canvTransformX)), calc(-50% + var(--canvTransformY))) scale(var(--canvScale), var(--canvScale));
    display: none;
    cursor: crosshair;
    touch-action: none;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    background: transparent;
    z-index: 100000;
    pointer-events: none;
    width: var(--canvX);
    height: var(--canvY);
}

#canvas-parent {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
}

#toolbar {
    position: fixed;
    top: 0;
    padding: 0px;
    width: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: #18171a;
}

#toolbar-right {
    float: right;
}

#toolbar .item:first-of-type {
    margin-left: 8px;
}

#toolbar .item:last-of-type {
    margin-right: 8px;
}

#toolbar .item {
    display: inline-lock;
    position: relative;
    float: left;
    margin: 8px 2px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    transition: 0.3s background, 0.3s color, 0.3s fill;
    display: flex;
    justify-content: center;
    align-items: center;
}

#toolbar .item i, #toolbar .item i svg path {
    color: rgba(255, 255, 255, 0.212);
    fill: rgba(255, 255, 255, 0.212);
}

#toolbar .item:hover i, #toolbar .item:hover i svg path {
    color: rgba(255, 255, 255, 0.411) !important;
    fill: rgba(255, 255, 255, 0.411) !important;
}

#toolbar .item #tool-color {
    color: var(--color) !important;
}

#toolbar .item:hover #tool-color {
    color: var(--color) !important;
}


#toolbar .item:hover, .tool-active {
    background: #262628;
}

.tool-active i, .tool-active i svg path {
    color: rgba(255, 255, 255, 0.411) !important;
}

.slider {
    -webkit-appearance: none;
    width: 135px !important;
    height: 40px;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.212) 0%, rgba(255, 255, 255, 0.212) 50%, #33333311 50%, #33333311 100%);
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 5px;
    margin: 0;
    transition: 0.3s;
}

.slider-wrapper {
    position: relative;
    display: inline-block;
    transform: translateY(-5px);
    float: right;
}

.slider-wrapper:nth-child(4) {
    margin-top: 5px;
}

.slider-wrapper * {
    vertical-align: middle;
}

.slide-wrap {
    display: inline-block;
    width: 135px !important;
    margin-left: 0px;
    margin-top: 5px;
}

.number {
    display: inline-block;
    -webkit-appearance: none;
    max-width: 50px !important;
    height: 30px;
    color: #7f7f80;
    background: rgba(255, 255, 255, 0.03);
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 5px;
    margin: 0;
    outline: none;
    border: none;
    padding-right: 22px;
    text-align: right;
}

.num-label {
    display: inline-block;
    font-size: 13px;
    transform: translateX(0px);
    margin-left: -20px;
}

.num-wrap {
    display: inline-block;
    width: 50px !important;
    margin-left: 0px;
    margin-top: 5px;
}

/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */

input[type=number] {
    -moz-appearance: textfield;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 42px;
    border-radius: 5px;
    background: #7f7f80;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 20px;
    height: 42px;
    border-radius: 5px;
    background: #7f7f80;
    cursor: pointer;
}

.sidebar ul, #bmodal ul {
    height: calc(100% - 10px);
}

#settingsBar {
    background-color: #18171a;
    color: #7f7f80;
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    border-radius: 10px;
    z-index: 2000;
}

#settingsBar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    padding: 5px;
    height: calc(100% - 10px);
}

#settingsBar ul li {
    display: inline-block;
    height: 40px;
    width: 40px;
    margin-left: 5px;
}

#settingsBar .icon {
    text-align: center;
    max-width: 40px;
    max-height: 40px;
    vertical-align: middle;
    line-height: 40px;
    border-radius: 5px;
    transition: 0.3s;
    border: none;
    display: inline-block;
    height: 40px;
    width: 40px;
    margin-left: 0px;
    margin-top: 5px;
}

#settingsBar .icon i {
    font-size: 20px;
    vertical-align: middle;
}

.ui {
    z-index: 200000;
}

path {
    fill: white;
}

/*
@media only screen and (orientation: portrait) {
    #palette {
        position: absolute;
        top: unset;
        right: 0%;
        bottom: 0;
        transform: unset;
        min-width: 100%;
        padding: 0px;
        color: white;
    }
}*/

.color-menu {
    position: fixed;
    top: 64px;
    right: 8px;
    border-radius: 13px;
    padding: 0px;
    margin: 0;
    color: rgb(202, 202, 202);
    background: #18171a;
    z-index: 3;
    display: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: block;
    opacity: 0;
    transform: translate(0, -10px);
    transition: 0.2s opacity, 0.2s transform;
    max-height: 450px;
    overflow-y: scroll;
    overflow-x: hidden;
    pointer-events: none;
}

.color-menu::-webkit-scrollbar {
    width: 26px;
    border-radius: 9px;
}

.color-menu::-webkit-scrollbar-thumb {
    background-color: #262628;
    min-height: 40px;
}

.color-menu::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.123);
}

.color-menu::-webkit-scrollbar-thumb, .color-menu::-webkit-scrollbar-track {
    border: 8px solid transparent;
    background-clip: padding-box;
    border-radius: 13px;
}

.color-menu::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.034);
}

.color-menu .color-selector {
    position: relative;
    margin: 8px;
    margin-bottom: 0;
    border-radius: 5px;
    display: inline-block;
}

.color-menu #color-value {
    --hue: 360;
    overflow: hidden;
    width: 200px;
    height: 200px;
    margin-bottom: -3px;
    background-image: linear-gradient(to bottom, transparent 0%, rgb(0, 0, 0) 100%), linear-gradient(to right, transparent 0%, hsl(var(--hue), 100%, 50%) 100%), linear-gradient(to bottom, white 0%, white 100%);
}

.color-menu #color-hue {
    background-image: linear-gradient(to top, #ff0000 0%, #ffff00 17%, #00ff00 33%, #00ffff 50%, #0000ff 67%, #ff00ff 83%, #ff0000 100%);
    width: 40px;
    margin-left: 0;
    margin-bottom: -3px;
    height: 200px;
}

.color-menu #color-opacity {
    background: white;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), var(--color)), url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 8 8'%3E%3Cg fill='%23bababa' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M0 0h4v4H0V0zm4 4h4v4H4V4z'/%3E%3C/g%3E%3C/svg%3E");
    margin-left: 0;
    margin-bottom: -3px;
    width: 40px;
    height: 200px;
    margin-right: 0;
}

#color-value-thumb {
    --posX: 100%;
    --posY: 0%;
    position: absolute;
    width: 6px;
    height: 6px;
    border: 2px solid grey;
    border-radius: 15px;
    left: calc(var(--posX) - 5px);
    top: calc(var(--posY) - 5px);
    cursor: grab;
}

#color-hue-thumb {
    z-index: 10000000000;
    --pos: 100%;
    --posp: 1;
    position: absolute;
    width: calc(100%);
    height: 10px;
    -webkit-box-shadow: inset 0px 0px 0px 2px grey;
    -moz-box-shadow: inset 0px 0px 0px 2px grey;
    box-shadow: inset 0px 0px 0px 2px grey;
    border-radius: 5px;
    top: calc(calc(var(--pos)) - (var(--posp) * 10px));
    cursor: grab;
}

#color-opacity-thumb {
    z-index: 10000000000;
    --pos: 100%;
    --posp: 1;
    position: absolute;
    width: calc(100%);
    height: 10px;
    -webkit-box-shadow: inset 0px 0px 0px 2px grey;
    -moz-box-shadow: inset 0px 0px 0px 2px grey;
    box-shadow: inset 0px 0px 0px 2px grey;
    border-radius: 5px;
    top: calc(calc(var(--pos)) - (var(--posp) * 10px));
    cursor: grab;
}

#color-previous {
    height: 22px;
    width: 44px;
    background-size: contain;
    background-image: linear-gradient(to right, var(--color), var(--color)), url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 9 9'%3E%3Cg fill='%23bababa' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M 0 0 h 3 v 3 H 0 V 0 z m 3 3 h 3 v 3 H 3 V 3 z M 6 0 H 9 V 3 H 6 V 0 M 0 6 H 3 V 9 H 0 V 6 M 6 6 H 9 V 9 H 6 V 6'/%3E%3C/g%3E%3C/svg%3E"), linear-gradient(to right, white, white);
    border-radius: 5px 0 0 5px;
    display: inline-block;
    margin-bottom: -4px;
}

#color-current {
    height: 22px;
    width: 44px;
    background-size: contain;
    background-image: linear-gradient(to right, var(--color), var(--color)), url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 8 8'%3E%3Cg fill='%23bababa' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M0 0h4v4H0V0zm4 4h4v4H4V4z'/%3E%3C/g%3E%3C/svg%3E"), linear-gradient(to right, white, white);
    border-radius: 0 5px 5px 0;
    display: inline-block;
    margin: 0;
    margin-bottom: -4px;
}

.color-preview {
    margin: 8px;
    margin-bottom: 8px;
    margin-right: 0;
    margin-top: 7px;
    float: right;
}

.color-menu.color-open {
    opacity: 1;
    transform: translate(0, 0);
    pointer-events: all;
}

.color-palette-menu {
    position: relative;
    left: 0px;
    right: 0px;
    height: fit-content;
    z-index: 0 !important;
    margin-right: 0;
}

.color-palette-group {
    position: relative;
    background: #262628;
    margin: 8px;
    width: calc(100% - 8px);
    border-radius: 5px;
    overflow: hidden;
    z-index: 9999999;
    margin-right: 0;
    outline-style: solid;
    outline-width: 4px;
    outline-color: #18171A;
}

.color-palette-standalone {
    position: absolute;
    background: #262628;
    margin: 8px;
    width: calc(100% - 8px);
    border-radius: 5px;
    overflow: hidden;
    z-index: 9999999;
    margin-right: 0;
    outline-style: solid;
    outline-width: 4px;
    outline-color: #18171A;
    
    transform: translate(-1000%, -1000%);
}

.palette-color {
    z-index: 1 !important;
    position: relative;
    display: inline-block;
    width: 10%;
    aspect-ratio: 1/1;
    cursor: pointer;
    margin: 0;
    float: left;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: contain;
    background-image: linear-gradient(to right, var(--color), var(--color)), url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 9 9'%3E%3Cg fill='%23bababa' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M 0 0 h 3 v 3 H 0 V 0 z m 3 3 h 3 v 3 H 3 V 3 z M 6 0 H 9 V 3 H 6 V 0 M 0 6 H 3 V 9 H 0 V 6 M 6 6 H 9 V 9 H 6 V 6'/%3E%3C/g%3E%3C/svg%3E"), linear-gradient(to right, white, white);
}

.palette-active {
    -webkit-box-shadow: inset 0px 0px 0px 2px white;
    -moz-box-shadow: inset 0px 0px 0px 2px white;
    box-shadow: inset 0px 0px 0px 2px white;
    position: relative;
    z-index: 1000;
}

.color-palette-title {
    font-size: 14px;
    font-weight: unset;
    margin: 0;
    margin: 5px;
    color: rgb(202, 202, 202);
}
