* {
    font-family: sans-serif;
}

body {
    background-color: var(--canvasBg);
    margin: 0px;
    min-height: 100vh;
    height: 100%;
    overflow: hidden;
}

:root {
    --canvScale: 10;
    --canvTransformX: 0px;
    --canvTransformY: 0px;
    --canvX: 32px;
    --canvY: 32px;
    /*!CONSTANT COLORS - DARK*/
    --bgMain: #18171a;
    --canvasBg: #202022;
    --bgLight: #262628;
    --textMain: #ffffff;
    --textDim: #cacaca;
    --important: #2741ff;
    --importantT:#2740ffa9;
    --importantText: #ffffff;
    --scrollTrack: #201F22;
    --scrollHover: #3B3A3D;
    --toolBarDim: #49484a;
    --toolBarHover: #7f7f80;
    /*!CONSTANT COLORS - LIGHT
    --bgMain: #ffffff;
    --canvasBg:#eaeaee;
    --bgLight: #dbdbe0;
    --textMain: #0b0c1a;
    --textDim: #1b1c2e;
    --important: #3e88ff;
    --importantT: #3e88ffa9;
    --importantText: #ffffff;
    --scrollTrack: #eaeaee;
    --scrollHover: #c0c2c9;
    --toolBarDim: #535a70;
    --toolBarHover: #181e31;*/
}

#debug {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
}

.popup {
    background: var(--bgMain);
    color: var(--textMain);
    font-size: 20px;
    position: fixed;
    display: block;
    max-width: 420px;
    transition: 0.2s all;
    z-index: 2;
    border-radius: 13px;
    min-width: 150px;
    top: 64px;
    left: 8px;
    opacity: 0;
    transform: translate(0, -10px);
    transition: 0.2s opacity, 0.2s transform;
    pointer-events: none;
}

.popup-open {
    pointer-events: all;
    opacity: 1;
    transform: translate(0, 0);
}

.popup h1 {
    margin: 0;
    font-size: 25px;
    margin-bottom: 10px;
    margin: 15px 12px;
    margin-bottom: 10px;
}

.popup-input-group {
    display: flex;
    justify-content: space-between;
    margin: 8px;
    margin-top: 0;
    min-width: 200px;
}

.popup-input-wrap {
    position: relative;
    font-size: 0;
}

.popup-input-field {
    position: relative;
    display: inline-flex;
    align-content: center;
    align-items: center;
    margin-left: 8px;
}

.popup-input-field-group {
    display: block;
    padding-bottom: 8px;
}

.popup-input-field-vertical {
    display: flex-block;
}

.popup-input-num {
    background: var(--bgLight);
    color: var(--textMain);
    margin: 0;
    padding: 0 5px;
    font-size: 14px;
    font-weight: bolder;
    border: none;
    border-radius: 5px;
    max-width: 60px;
    display: block;
    font-weight: 100;
    text-align: left;
    height: 28px;
    cursor: e-resize;
}

.popup-input-check {
    cursor: pointer;
    width: 28px;
    height: 28px;
    left: 0;
    margin: 0;
    opacity: 0;
}

.popup-input-check:focus~.checkmark {
    outline-color: var(--important);
    outline-style: solid;
    outline-width: 2px;
}

.popup-input-check~.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 28px;
    width: 28px;
    background-color: var(--bgLight);
    box-shadow: inset 0 0 0 2px var(--scrollHover);
    pointer-events: none;
    transition: 0.2s background, 0.2s box-shadow;
    border-radius: 5px;
}

.popup-input-check:hover~.checkmark {
    background-color: var(--scrollHover);
}

.popup-input-check:checked~.checkmark {
    box-shadow: none;
    background-color: var(--important);
}

.popup-input-check~.checkmark:after {
    content: "";
    position: absolute;
    opacity: 0;
    transition: 0.2s opacity;
}

.popup-input-check:checked~.checkmark:after {
    opacity: 1;
}

.popup-input-check~.checkmark:after {
    left: 11px;
    top: 6px;
    width: 5px;
    height: 10px;
    border: solid var(--importantText);
    ;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.popup-input-title {
    font-size: 14px;
    margin: 0;
    margin-left: 5px;
    margin-top: 6px;
}

.popup-input-unit {
    font-size: 14px;
    margin: 0;
    position: absolute;
    text-align: right;
    right: 5px;
    opacity: .5;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    font-family: "JetBrains Mono";
}

.popup-btn.popup-btn-imp {
    background: var(--important);
    color: var(--importantText);
}

.popup-btn {
    background-color: var(--bgLight);
    color: var(--textMain);
    margin: auto;
    padding: 10px 15px 10px 15px;
    font-size: 16px;
    font-weight: bolder;
    display: inline-block;
    border: none;
    border-radius: 5px;
    transition: 0.2s all;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    margin-left: 4px;
}

.popup-btn-group {
    float: right;
    margin: 8px;
    margin-top: 0px;
}

.menu {
    position: fixed;
    top: 64px;
    left: 8px;
    opacity: 0;
    transform: translate(0, -10px);
    transition: 0.2s opacity, 0.2s transform;
    border-radius: 13px;
    overflow: hidden;
    padding: 0px;
    margin: 0;
    color: var(--textDim);
    background: var(--bgMain);
    z-index: 3;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
}

.menu.menu-open {
    opacity: 1;
    transform: translate(0, 0);
    pointer-events: all;
}

.menu .menu-btn {
    position: relative;
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
    list-style: none;
    cursor: pointer;
}

.menu .menu-btn:hover {
    background: var(--bgLight);
    color: var(--textMain);
}

.menu .menu-btn i {
    padding-right: 10px;
}

.menu .menu-btn a {
    text-decoration: none;
}

#canvas {
    position: absolute;
    transform: translate(calc(-50% + var(--canvTransformX)), calc(-50% + var(--canvTransformY))) scale(var(--canvScale), var(--canvScale));
    display: block !important;
    cursor: crosshair;
    touch-action: none;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    width: var(--canvX);
    height: var(--canvY);
}

#bggridcanv {
    position: absolute;
    transform: translate(calc(-50% + var(--canvTransformX)), calc(-50% + var(--canvTransformY))) scale(var(--canvScale), var(--canvScale));
    display: none;
    cursor: crosshair;
    touch-action: none;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    background-color: white;
    z-index: -100000;
    pointer-events: none;
    width: var(--canvX);
    height: var(--canvY);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3E%3Cg fill='%23bababa' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M0 0h4v4H0V0zm4 4h4v4H4V4z'/%3E%3C/g%3E%3C/svg%3E");
}

#previewcanv {
    --invert: 0;
    position: absolute;
    transform: translate(var(--canvTransformX), var(--canvTransformY)) scale(var(--canvScale), var(--canvScale));
    display: none;
    cursor: crosshair;
    touch-action: none;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    background: transparent;
    z-index: 100000;
    pointer-events: none;
    width: var(--canvX);
    height: var(--canvY);
    filter: invert(calc(100% * var(--invert)));
}

#eraserBrushBufferParent {
    display: none;
    pointer-events: none;
}

#canvas-parent {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%);
    width: 100%;
    height: calc(100vh - 56px);
}

#toolbar {
    position: fixed;
    top: 0;
    padding: 0px;
    width: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: var(--bgMain);
}

#toolbar-right {
    float: right;
}

#toolbar .item:first-of-type {
    margin-left: 8px;
}

#toolbar .item:last-of-type {
    margin-right: 8px;
}

#toolbar .item {
    display: inline-lock;
    position: relative;
    float: left;
    margin: 8px 2px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    transition: 0.3s background, 0.3s color, 0.3s fill;
    display: flex;
    justify-content: center;
    align-items: center;
}

#toolbar .item i, #toolbar .item i svg path {
    color: var(--toolBarDim);
    fill: var(--toolBarDim);
}

#toolbar .item:hover i, #toolbar .item:hover i svg path {
    color: var(--toolBarHover) !important;
    fill: var(--toolBarHover) !important;
}

#toolbar .item #tool-color {
    color: var(--color) !important;
}

#toolbar .item:hover #tool-color {
    color: var(--color) !important;
}

#toolbar .item:hover, .tool-active {
    background: var(--bgLight);
}

.tool-active i, .tool-active i svg path {
    color: var(--toolBarHover) !important;
}

.ui {
    z-index: 200000;
}

path {
    fill: var(--textMain);
}

.color-menu {
    position: fixed;
    top: 64px;
    right: 8px;
    border-radius: 13px;
    padding: 0px;
    margin: 0;
    color: var(--textDim);
    background: var(--bgMain);
    z-index: 3;
    display: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: block;
    opacity: 0;
    transform: translate(0, -10px);
    transition: 0.2s opacity, 0.2s transform;
    max-height: 450px;
    overflow-y: scroll;
    overflow-x: hidden;
    pointer-events: none;
}

#color-menu-drop-effect {
    background: var(--importantT);
    position: sticky;
    top: 13px;
    left: 13px;
    width: calc(100% - 18px);
    height: calc(450px - 26px);
    margin-bottom: calc(-450px + 26px);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.1px;
    outline-width: 5px;
    outline-style: solid;
    outline-color: var(--important);
    color: white;
    font-family: 'JetBrains Mono', monospace;
    text-shadow: 0 0 15px black;
    z-index: 100000;
    opacity: 0;
    transition: 0.3s opacity ease-in-out;
    pointer-events: none;
}

.color-menu-drop-effect-on {
    opacity: 1 !important;
    pointer-events: all;
}

.color-menu::-webkit-scrollbar {
    width: 26px;
    border-radius: 9px;
}

.color-menu::-webkit-scrollbar-thumb {
    background-color: var(--bgLight);
    min-height: 40px;
}

.color-menu::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollHover);
}

.color-menu::-webkit-scrollbar-thumb, .color-menu::-webkit-scrollbar-track {
    border: 8px solid transparent;
    background-clip: padding-box;
    border-radius: 13px;
}

.color-menu::-webkit-scrollbar-track {
    background-color: var(--scrollTrack);
}

.color-menu .color-selector {
    position: relative;
    margin: 8px;
    margin-bottom: 0;
    border-radius: 5px;
    display: inline-block;
}

.color-menu #color-value {
    --hue: 360;
    overflow: hidden;
    width: 200px;
    height: 200px;
    margin-bottom: -4px;
    background-image: linear-gradient(to bottom, transparent 0%, rgb(0, 0, 0) 100%), linear-gradient(to right, transparent 0%, hsl(var(--hue), 100%, 50%) 100%), linear-gradient(to bottom, white 0%, white 100%);
}

.color-menu #color-hue {
    background-image: linear-gradient(to top, #ff0000 0%, #ffff00 17%, #00ff00 33%, #00ffff 50%, #0000ff 67%, #ff00ff 83%, #ff0000 100%);
    width: 40px;
    margin-left: 0;
    margin-bottom: -4px;
    height: 200px;
}

.color-menu #color-opacity {
    background: white;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), var(--color)), url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 8 8'%3E%3Cg fill='%23bababa' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M0 0h4v4H0V0zm4 4h4v4H4V4z'/%3E%3C/g%3E%3C/svg%3E");
    margin-left: 0;
    margin-bottom: -4px;
    width: 40px;
    height: 200px;
    margin-right: 0;
}

#color-value-thumb {
    --posX: 100%;
    --posY: 0%;
    position: absolute;
    width: 6px;
    height: 6px;
    border: 2px solid var(--toolBarHover);
    border-radius: 15px;
    left: calc(var(--posX) - 5px);
    top: calc(var(--posY) - 5px);
    cursor: grab;
}

#color-hue-thumb {
    z-index: 100;
    --pos: 100%;
    --posp: 1;
    position: absolute;
    width: calc(100%);
    height: 10px;
    -webkit-box-shadow: inset 0px 0px 0px 2px var(--toolBarHover);
    -moz-box-shadow: inset 0px 0px 0px 2px var(--toolBarHover);
    box-shadow: inset 0px 0px 0px 2px var(--toolBarHover);
    border-radius: 5px;
    top: calc(calc(var(--pos)) - (var(--posp) * 10px));
    cursor: grab;
}

#color-opacity-thumb {
    z-index: 100;
    --pos: 100%;
    --posp: 1;
    position: absolute;
    width: calc(100%);
    height: 10px;
    -webkit-box-shadow: inset 0px 0px 0px 2px var(--toolBarHover);
    -moz-box-shadow: inset 0px 0px 0px 2px var(--toolBarHover);
    box-shadow: inset 0px 0px 0px 2px var(--toolBarHover);
    border-radius: 5px;
    top: calc(calc(var(--pos)) - (var(--posp) * 10px));
    cursor: grab;
}

#color-previous, .color-previous {
    height: 26px;
    width: 44px;
    background-size: contain;
    background-image: linear-gradient(to right, var(--color), var(--color)), url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 9 9'%3E%3Cg fill='%23bababa' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M 0 0 h 3 v 3 H 0 V 0 z m 3 3 h 3 v 3 H 3 V 3 z M 6 0 H 9 V 3 H 6 V 0 M 0 6 H 3 V 9 H 0 V 6 M 6 6 H 9 V 9 H 6 V 6'/%3E%3C/g%3E%3C/svg%3E"), linear-gradient(to right, var(--textMain), var(--textMain));
    border-radius: 5px 0 0 5px;
    display: inline-block;
    margin-bottom: -4px;
}

#color-current, .color-current {
    height: 26px;
    width: 44px;
    background-size: contain;
    background-image: linear-gradient(to right, var(--color), var(--color)), url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 8 8'%3E%3Cg fill='%23bababa' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M0 0h4v4H0V0zm4 4h4v4H4V4z'/%3E%3C/g%3E%3C/svg%3E"), linear-gradient(to right, var(--textMain), var(--textMain));
    border-radius: 0 5px 5px 0;
    display: inline-block;
    margin: 0;
    margin-bottom: -4px;
}

.color-preview {
    margin: 8px;
    margin-bottom: 0px;
    margin-right: 0;
    float: right;
}

.color-menu.color-open {
    opacity: 1;
    transform: translate(0, 0);
    pointer-events: all;
}

.color-palette-menu {
    position: relative;
    left: 0px;
    right: 0px;
    height: fit-content;
    z-index: 0 !important;
    margin-right: 0;
}

.color-palette-group {
    position: relative;
    background: var(--bgLight);
    margin: 8px;
    width: calc(100% - 8px);
    border-radius: 5px;
    overflow: hidden;
    z-index: 999;
    margin-right: 0;
    outline-style: solid;
    outline-width: 4px;
    outline-color: var(--bgMain);
}

.color-palette-standalone {
    position: absolute;
    background: var(--bgLight);
    margin: 8px;
    width: calc(100% - 8px);
    border-radius: 5px;
    overflow: hidden;
    z-index: 999;
    margin-right: 0;
    outline-style: solid;
    outline-width: 8px;
    outline-color: var(--bgMain);
    transform: translate(-1000%, -1000%);
}

.palette-color {
    z-index: 1 !important;
    position: relative;
    display: inline-block;
    width: 10%;
    aspect-ratio: 1/1;
    cursor: pointer;
    margin: 0;
    float: left;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: contain;
    background-image: linear-gradient(to right, var(--color), var(--color)), url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 9 9'%3E%3Cg fill='%23ffffff' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M 0 0 h 3 v 3 H 0 V 0 z m 3 3 h 3 v 3 H 3 V 3 z M 6 0 H 9 V 3 H 6 V 0 M 0 6 H 3 V 9 H 0 V 6 M 6 6 H 9 V 9 H 6 V 6'/%3E%3C/g%3E%3C/svg%3E"), linear-gradient(to right, #bababa, #bababa);
}

.palette-active {
    -webkit-box-shadow: inset 0px 0px 0px 2px white;
    -moz-box-shadow: inset 0px 0px 0px 2px white;
    box-shadow: inset 0px 0px 0px 2px white;
    position: relative;
    z-index: 1000;
}

.palette-active:before {
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    background: white;
    clip-path: polygon(100% 100%, 60% 100%, 100% 60%);
}

.color-palette-title {
    font-size: 14px;
    font-weight: unset;
    margin: 0;
    margin: 5px;
    color: var(--textDim);
    font-family: 'JetBrains Mono', monospace;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.color-input-num {
    background: var(--bgLight);
    color: var(--textMain);
    margin: 0;
    padding: 0 5px;
    font-size: 14px;
    font-weight: bolder;
    border: none;
    border-radius: 5px;
    width: 24px;
    display: inline-block;
    font-weight: 100;
    text-align: left;
    height: 26px;
}

.color-rgba, .color-hsla {
    position: relative;
    margin: 8px;
    display: inline-block;
    margin-right: 0;
    margin-bottom: 0;
}

.color-rgba p, .color-hsla p {
    display: inline-block;
    margin: 0;
    width: 26px;
    margin: 0 -5px;
    font-size: 14px;
    text-align: center;
    font-family: "JetBrains Mono";
}

.color-hex {
    background: red;
    height: 26px;
    width: 44px;
    border-radius: 5px 0 0 5px;
    display: inline-block;
    margin-bottom: -4px;
}

.color-input-hex {
    background: var(--bgLight);
    color: var(--textMain);
    margin: 0;
    padding: 0 5px;
    font-size: 14px;
    font-weight: bolder;
    border: none;
    border-radius: 5px;
    width: 68px;
    margin-left: 8px;
    display: inline-block;
    font-weight: 100;
    text-align: left;
    height: 26px;
    text-transform: uppercase;
    padding-left: 15px;
}

.label-hex {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: absolute;
    line-height: 26px;
    transform: translateX(8px);
}

input {
    font-family: "JetBrains Mono";
}

#tool-settings {
    position: fixed;
    bottom: 8px;
    right: 8px;
    border-radius: 13px;
    padding: 0px;
    margin: 0;
    color: var(--textDim);
    background: var(--bgMain);
    z-index: 3;
    display: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: block;
    opacity: 0;
    transform: translate(0, 10px);
    transition: 0.2s opacity, 0.2s transform;
    max-height: 450px;
    overflow-y: hidden;
    overflow-x: hidden;
    pointer-events: none;
}

#tool-settings.tool-settings-open {
    opacity: 1;
    transform: translate(0, 0);
    pointer-events: all;
}

#tool-settings h1 {
    margin: 0;
    font-size: 20px;
    margin: 0;
    margin: 15px 12px;
    margin-bottom: 11px;
    margin-top: 10px;
}

.tool-settings-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin-right: 8px;
    height: 28px;
}

.tool-settings-title .arrow {
    font-size: 20px;
    cursor: pointer;
}

.tool-settings-toggle {
    position: absolute;
    cursor: pointer;
    width: 28px;
    height: 28px;
    right: 0;
    top: 12px;
    right: 8px;
    margin: 0;
    opacity: 0;
}

.tool-settings-toggle:focus~.arrow {
    outline-color: var(--important);
    outline-style: solid;
    outline-width: 2px;
}

.tool-settings-toggle~.arrow {
    font-size: 20px;
    position: absolute;
    top: 8px;
    right: 8px;
    height: 28px;
    width: 28px;
    text-align: center;
    color: var(--textDim);
    background-color: var(--bgLight);
    pointer-events: none;
    border-radius: 5px;
    vertical-align: middle;
    transition: 0.2s transform, 0.2s color, 0.2s background;
}

.tool-settings-toggle~.arrow i {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(0);
    text-align: center;
    color: var(--textDim);
    vertical-align: middle;
    transition: 0.2s transform, 0.2s color, 0.2s margin-bottom;
    display: inline-block;
    margin-bottom: 0;
}

.tool-settings-toggle:hover~.arrow {
    background-color: var(--scrollHover);
}

.tool-settings-toggle:checked~.arrow {
    box-shadow: none;
    background: var(--important);
}

.tool-settings-toggle:checked~.arrow i {
    transform: translate(-50%, -50%) rotate(180deg);
    color: var(--importantText);
    margin-bottom: -4px;
}

#tool-settings-content {
    height: var(--maxHeight);
    margin-bottom: 8px;
    transition: 0.3s height, 0.15s opacity, 0.3s margin-bottom;
    min-width: 240px;
}

.tool-settings-toggle:checked~#tool-settings-content {
    height: 0px;
    opacity: 0;
    margin-bottom: 0;
}

.tool-settings-content-hidden {
    opacity: 0;
}